.products {
    padding: 20px;
}

.addButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.addButton {
    min-width: 120px;
}

.title {
    margin-bottom: 30px;
}

.productList {
    max-width: 500px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product:not(:first-of-type) {
    margin-top: 10px;
}

.product p {
    font-size: 18px;
}

.editButton {
    min-width: 100px !important;
    height: 35px !important;
}
