.sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    border-right: 1px solid var(--color-border-secondary-default);
    padding: 50px 0;
}

.navGroup:not(:first-of-type) {
    margin-top: 30px;
}

.navItem {
    color: var(--color-text-secondary-default);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    display: block;
}

.navItem:hover {
    background-color: var(--color-background-white-hover);
    background-color: var(--color-background-sidebarItem-hover);
}
